*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    background: green;
    color: black;
    box-shadow: 5px 5px 5px lightgray;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    font-family: "danfo", sans-serif;
}
.nav-link{
    list-style: none;
    display: flex;
    margin: 0;
    gap: 15px;
    padding: 0;
}
.nav-bar .nav-link li a{
    text-decoration: none;
    padding: 5px 10px;
    color: black;
}
.nav-bar .nav-link li a:hover{
    background: #575757;
    border-radius: 5px;
    color: white;
}
.hamburger{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.nav-link.show{
    display: flex;
}
@media (max-width:768px){
    /* responsive design */
    .nav-link{
        display: none;
        flex-direction: column;
        position: absolute;
        background: #333;
        width: 200px;
        border-radius: 5px;
        top: 60px;
        right: 60px;
        margin-top: 10px;
    }
    .nav-link li{
        margin: 10px 0;
        text-align: start;
    }
    .hamburger{
        display: block;
    }
}

